<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}
    {% load poll_extras %}
    <title>Game Catalog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
            integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
            crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="{% url 'catalog' %}" class="navbar-brand d-flex align-items-center">
                <strong>Game Muster</strong>
                {% if not request.user.is_authenticated %}
                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="First group">
                <a class='nav-link' href="{% url 'login' %}">LOG IN</a>
                <a class='nav-link' href="{% url 'register' %}">SIGN UP</a>
                </div>
                </div>
                {% else %}
                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="First group">
                <a class='nav-link' href="{% url 'catalog' %}">CATALOG</a>
                <a class='nav-link' href="{% url 'must' %}">MY MUST</a>
                <a class='nav-link' href="{% url 'logout' %}">LOG OUT</a>
                </div>
                </div>
            {% endif %}
            </a>
        </div>
    </div>
</header>

<main role="main">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                            {# For loop info about game #}

                <h1 class="h1-margit-top">{{ info.name }}</h1>

                <h6>Genres:
                    {% for genre in info.genres %}
                        {% if not forloop.last %}{{ genre.name|add:', ' }}
                            {% elif forloop.last %}{{ genre.name|add:' ' }}
                        {% endif %}
                    {% empty %}
                        {{ 'No information available.' }}
                    {% endfor %}
                </h6>

                <h4>Description</h4>
                <h6>{{ info.summary|default:'No information available.' }}</h6>

                <h4>Release date</h4>
                <h6>{% for release_date in info.release_dates %}
                    {% if forloop.first %}
                        {{ release_date.date|fromunix|date:"d F Y" }}
                        {% if release_date.date is None %}
                            {{ 'No information available.' }}{% endif %}
                    {% else %}
                    {% endif %}
                {% empty %}
                    {{ 'No information available.' }}
                {% endfor %}</h6>
                <h4>Screenshots</h4>
                <div class="container">
                    <div class="row">
                        {% for screenshot in info.screenshots %}
                            <div class="col-2"><img class="img-container" style=" width: 200px; display: block;"
                                                    src="{{ screenshot.url|replace_screenshot }}"
                                                    data-holder-rendered="true"></div>
                        {% empty %}
                            <h6>{{ 'No information available.' }}</h6>
                        {% endfor %}
                    </div>
                </div>
                {# todo rating, platforms. tweets #}
            </div>
        <div class="row" style="margin-left: 200px;">
                    <form method="POST" style="margin: auto; margin-left: -200px; margin-top: 50px;">{% csrf_token %}
                                {% if request.user.is_authenticated %}
                                    {% if game_id in musts %}
                                        <button id="{{ game_id }}" value="{{ game_id }}" name="unmust" class="btn btn-primary mr-2 btn-outline-secondary">UNMUST</button>
                                    {% else %}
                                    <button id="{{ game_id }}" value="{{ game_id }}" name="must" class="btn btn-primary mr-2 btn-outline-secondary">MUST</button>
                                    {% endif %}
                                {% else %}
                                <a id="{{ game_id }}" onclick="location.href={% url 'register'  %}" class="btn btn-primary mr-2 btn-outline-secondary">MUST</a>
                                {% endif %}
                                </form></div>

    </div>
        </div>


</main>
<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="{% url 'catalog' %}">Back to catalog</a>
        </p>
    </div>
</footer>
</body>
</html>