<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}
    <title>Game Catalog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  </head>
  <body>
    <header>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <strong>Game Muster</strong>
          </a>
        </div>
      </div>
    </header>

    <main role="main">
      <div class="album py-5 bg-light">
        <div class="container">
        <form action="{% url 'catalog_search' %}">
        <div class="input-group mb-3" style="max-width: 500px; margin: auto; padding-bottom: 20px; padding-top: 0px">
  <input type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon2" name="sq">
  <div class="input-group-append">
      <button  class="btn btn-outline-secondary" type="submit" ><i class="bi bi-search"></i></button>
  </div>
</div></form>
            <div class="row">
              {% for game in games %}
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    {% if game.data.screenshot_url %}
                      <img class="card-img-top" style="height: 20%; width: 100%; display: block;" src="{{game.data.screenshot_url}}" data-holder-rendered="true">
                    {% else %}
                      <img class="card-img-top" style="height: 20%; width: 100%; display: block;" src="{% static 'main/img/no-image.png' %}" data-holder-rendered="true">
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{game.data.name}}</h5>
                    <div class="btn-group pull-right" role="group" style="position: center;align-content: flex-start; margin: 15px; margin-left: 0;">
                         {% if game.data.platforms %}
                        {% for platform in game.data.platforms %}
                            <button class="btn btn-success mb-1 btn-sm" disabled>{{platform.abbreviation}}</button>
                             {% endfor %}
                          {% endif %}
                    </div>
                          <br>
                        <div class="btn-group btn-group-sm" role="group">
                            <a id="{{game.data.id}}" onclick="location.href='{% url 'game_page' game_id=game.data.id%}'" type="button" class="btn btn-primary mr-2 btn-outline-secondary">OPEN</a>
                            <a type="button" class="btn btn-primary mr-2 btn-outline-secondary">MUST</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="text">
              <!--Pagination-->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if games.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?sq={{ search_query }}&p={{ games.previous_page_number }}">&laquo;</a>
          </li>
        {% else %}
            <li class="page-item disabled"></li>
        {% endif %}
        {% for i in games.paginator.page_range %}
            {% if games.number == i %}
                <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% elif i > games.number|add:'-3' and i < games.number|add:'3' %}
                 <li class="page-item"><a class="page-link" href="?sq={{ search_query }}&p={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if games.has_next %}
            <li class="page-item">
            <a class="page-link" href="?sq={{ search_query }}&p={{ games.next_page_number }}">&raquo;</a>
          </li>
        {% else %}
            <li class="page-item disabled"></li>
        {% endif %}
      </ul>
    </nav>
    <!--end of Pagination-->

    </footer>
  </body>
</html>